.bookie-body {
  /* General Css */

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  width: calc(100% - 100px);
  max-width: 1400px;
  margin: 0;
  padding: 0 50px 0 50px;
}

/* general class for big police usage */

.text-mobile-align {
  display: none;
}

.big-police {
  display: flex;

  width: 100%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 21px;

  color: #000000;

  margin: 0;
}

/* Top part (header) of the page */

.booki-logo {

  /* Img resize */
  width: 61.09px;
  height: 19px;
  margin-top: 27px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navlist {
  display: flex;
  list-style-type: none;

  /* Override default <ul> property */
  padding: 0;
  margin: 0;

}

.top-links {
  text-decoration: none;
  color: black;
  width: 162px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.currentpage {
  display: flex;
  color: black;
  height: 46px;
}

.currentpage:hover a:hover {
  /* Blue when hovered */
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  padding: 63px 0 0 0;
}

.offer-main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  padding: 63px 0 0 0;
}

.top-section {
  padding: 0 10px;
  width: calc(100% - 20px);
}

/* general icons settings */

.fa-solid {
  color: #0065FC;
  margin: 10px;
}

.fa-chart-line {
  position: absolute;
  right: 30px;
  top: 23px;
}

.star-rating {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  margin: 9px 0 0 5px;
}

.stars {
  font-size: 12px;
  margin: 1px;
}

/* specific icons settings */

.fa-location-dot {
  color: black;
}

.fa-grey-star {
  color: #F2F2F2;
}

.fa-info {
  font-size: 14px;
  margin: 0;
}

.fa-magnifying-glass {
  color: #FFFFFF;
}

.search-bar {
  display: flex;
  width: 100%;
}

.geoloc-button {
  /* Center Icon */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 49px;
  height: 48px;

  background: #F2F2F2;

  /* Round left side button */
  border: 1px solid #F2F2F2;
  border-radius: 15px 0px 0px 15px;
}

/* Police heritage? */

.submit-location {

  /* Size */
  width: 100%;
  max-width: 262px;
  height: 48px;
  padding: 0 0;

  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  /* Text format */

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: black;

  /* When focused */
  outline: #F2F2F2;
}

.submit-button {

  /* Hand mouse */
  cursor: pointer;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;

  height: 50px;

  background: #0065FC;
  border: none;
  border-radius: 0px 15px 15px 0px;
}

.submit-icon {

  /* Hand mouse */
  cursor: pointer;

  height: 50px;

  background: #0065FC;
  border: none;
  border-radius: 0px 15px 15px 0px;
  display: none;
}

.filter-title {
  margin-right: 3px;
}

.filters {
  display: flex;
  font-weight: 700;
  font-size: 17px;

  padding-top: 34px;
  height: 50px;
}

.filters-display {
  display: flex;
  width: 100%;
}

.filter-block-one {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.filter-block-size {
  width: 50%;
}

.filter-button {
  display: flex;
  align-items: center;

  height: 50px;
  padding-right: 10px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
}

.filter-button:hover {
  background-color: #DEEBFF;
}

.info-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  width: 20px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
}

.info-line {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

/* main part, clickable cards, container etc */

.card-container {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;

  background: #F2F2F2;
  border-radius: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 10px #D9D9D9;
  padding: 5px 5px 10px 5px;

  height: 199px;
  width: 30%;

  margin-bottom: 50px;

  text-decoration: none;
}

.card-top-part {
  height: 80%;
}

.card-bottom-part {
  display: flex;
  align-items: center;
  height: 20%;
}

/* h2 font */

.card-header {

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;

  margin: 0 0 0 5px;
}

.header-padding {
  padding-top: 10px;
}

.card-img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-height: 90px;
  object-fit: cover;
}

.card-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  margin: 9px 0 0 5px;
}

.offer-text {
  margin-left: 17px;
}

.offer-header {
  font-size: 22px;
  margin-left: 17px;
}

.offers {

  height: 650px;
  width: 60%;

  background: #F2F2F2;
  border-radius: 20px;
  margin-bottom: 60px;
  padding: 10px 0;
}

/* most popular bloc */

.most-popular {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;

  position: relative;
  padding: 10px;
  height: 650px;
  width: 37%;

  background: #F2F2F2;
  border-radius: 20px;
}

.most-popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 5%;
  width: 100%;
}

.popular-spacing {
  margin: revert;
  margin-left: 30px;
}

.popular-container {

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 90%;

  background: #F2F2F2;
  border-radius: 20px;
}

.popular-img {
  border-radius: 20px 0 0 20px;
  padding: 5px;
  width: calc(50% - 5px);
  object-fit: cover;
}

.popular-content {
  display: flex;
  flex-direction: row;

  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 10px #D9D9D9;

  height: 30%;
  width: 85%;

  text-decoration: none;
}

.popular-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 10px);
  padding-bottom: 10px;
  padding-right: 10px;
}

/* Activities part */

.activities-title {
  margin-bottom: 17px;
}

.activities-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60%;
}

.activities-card {
  display: flex;
  justify-content: space-between;
  width: 22%;
  height: 445px;
}

.activites-img {
  height: 90%;
  max-height: inherit;
  padding: 0;
}

.activities-header {
  margin: 0;
  text-align: center;
}

.activities-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
}

/* Footer part */

.page-footer {
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;

  background: #F2F2F2;
  width: 100%;
  height: 225px;
}

.footer-container {
  display: flex;
  flex-direction: column;

  padding-top: 30px;
  width: 100%;
  height: 60%;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links {
  padding-bottom: 12px;
  text-decoration: none;
  color: #000000;
}

.footer-header {
  margin: 0 0 40px 0;
}

/* media query medium screens */

@media (max-width: 992px) and (min-width:768px) {

  .main-container {
    flex-direction: column;
  }

  .filters {
    width: 100%;
    min-width: 730px;
  }

  .offers {
    width: 100%;
  }

  .most-popular {
    width: 100%;
    height: 278px;
    margin-bottom: 20px;
    padding: 0;

  }

  .fa-chart-line {
    right: 5px;
    top: 10px;
  }

  .popular-spacing {
    margin-left: 17px;
  }

  .most-popular-header {
    padding-left: 2%;
    padding-right: 1%;
  }

  .popular-container {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80%;
  }

  .popular-content {
    height: 75%;
    width: 30%;
  }
  .card-header {
    font-size: 14px;
  }
  .card-text {
    font-size: 13px;
  }

  .activities-title {
    margin: 70px 0 34px 0;
  }

  .activities-card {
    height: 267px;
  }

  .activities-info {
    height: 20%;
  }

  .activites-img {
    height: 80%;
    max-height: 215px;
  }

  .page-footer {
    padding-left: 70px;
  }

}

/* media query phone screen */

@media (max-width: 767px) and (min-width:320px) {
  .bookie-body {
    padding: 0;
    width: auto;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .booki-logo {
    margin: 20px 0 20px 0;
  }

  .navblock {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navlist {
    width: 100%;
  }

  .top-links {
    width: 100%;
    align-items: center;
  }

  .currentpage {
    justify-content: center;
    border-bottom: 2px solid #F2F2F2;
    width: 50%;
  }

  .currentpage:hover a:hover {
    /* Blue when hovered */
    width: 100%;
    border-top: inherit;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

  .main-container {
    padding: inherit;
  }

  .top-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  .text-mobile-align {
    display: inline;
  }

  .submit-button {
    display: none;
  }

  .submit-icon {
    display: inline;
  }

  .mobile-header {
    width: 100%;
    margin-left: 10px;
    font-size: 22px;
    margin-bottom: 0;
  }

  .mobile-subtitle {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
    height: 170px;
    width: 100%;
    padding-top: 20px;
  }

  .filter-block-one {
    width: auto;
  }

  .filter-block-size {
    width: auto;
  }

  .filter-button {
    width: 44%;
    max-width: 230px;
  }

  .filters-display {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .offer-main-container {
    flex-direction: column-reverse;
    padding-top: 33px;
  }

  .info-line {
    margin-top: 20px;
  }

  .most-popular {
    width: 100%;
    padding: 10px 0;
    border-radius: 0;
  }

  .fa-chart-line {
    right: 6%;
    top: 3px;
  }

  .popular-container {
    padding-bottom: 45px;
    border-radius: 0;
  }

  .popular-spacing {
    margin-left: 8%;
  }

  .most-popular-header {
    padding-left: 8%;
    padding-right: 6%;
  }

  .offers {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 0;
    margin-bottom: 70px;
  }

  .offer-header {
    margin-left: 8%;
  }

  .offer-text {
    display: none;
  }

  .card-container {
    height: 100%;
    border-radius: 0;
    background-color: #FFFFFF;
    align-content: flex-start;
  }

  .card-content {
    margin-bottom: 0;
    width: 85%;
    height: 199px;
    margin-bottom: 10px;
  }

  .activities-title {
    padding-left: 8%;
  }

  .activities-container {
    flex-direction: column;
    align-items: center;
  }

  .activites-img {
    height: 80%;
  }

  .activities-info {
    height: 20%;
  }

  .page-footer {
    height: auto;
    flex-direction: column;
    width: calc(100% - 8%);
    padding-left: 8%;
  }

  .footer-header {
    margin-bottom: 20px;
  }

  .footer-links {
    white-space: nowrap;
  }
}